.idea
.directory
# Ignore all the downloaded files :)
/Africa/
/Africa_and_the_Middle_East/
/Antarctica/
/Atlantic_Ocean_to_Spain_and_France/
/Australia/
/California_to_Vegas/
/Caribbean/
/China/
/Dubai/
/Grand_Canyon/
/Greenland/
/Hawaii/
/Hong_Kong/
/Iceland/
/Iran_and_Afghanistan/
/Ireland_to_Asia/
/Italy_to_Asia/
/Korean_and_Japan_Night/
/Liwa/
/London/
/Los_Angeles/
/New_York/
/New_Zealand/
/Nile_Delta/
/North_America_Aurora/
/Patagonia/
/Sahara_and_Italy/
/San_Francisco/
/Scotland/
/South_Africa_to_North_Asia/
/Southern_California_to_Baja/
/Underseas/
/West_Africa_to_the_Alps/
/Yosemite/
