.idea
# Ignore all the downloaded files :)
Africa/
Africa_and_the_Middle_East/
Antarctica/
California_to_Vegas/
Caribbean/
China/
Dubai/
Greenland/
Hawaii/
Hong_Kong/
Iran_and_Afghanistan/
Ireland_to_Asia/
Italy_to_Asia/
Korean_and_Japan_Night/
Liwa/
London/
Los_Angeles/
New_York/
New_Zealand/
North_America_Aurora/
Sahara_and_Italy/
San_Francisco/
Southern_California_to_Baja/
Underseas/
West_Africa_to_the_Alps/
