HAS_LCD={{ has_lcd }}
SENSORTYPE={{ sensor_type }}
MQTT_HOST={{ mqtt_host }}
HEALTHPING="{{ healthcheck_url }}"
HC="{{ healthcheck_id }}"
MQTT_USER="{{ mqtt_user }}"
MQTT_PASS="{{ mqtt_pass }}"
HASS_TOKEN="{{ has_token }}"
HASSURL="{{ has_url }}"
